// Responsive sizes
$responsive-large: 992px;
$responsive-medium: 768px;
$responsive-small: 576px;

// Fonts
$font-base: "Source Sans Pro", Ubuntu, sans-serif;
$font-main: "Zilla Slab", "Open Sans", sans-serif;
$font-read: "Merriweather", serif;
$font-mono: "Fira Mono", monospace;
$font-logo: $font-main;

