<div class="flex items-center justify-center mt-2">
  <ema:metadata>
    <with var="template">
      <a class="text-gray-300 hover:text-${theme}-600 text-sm" title="Edit this page on GitLab"
        href="${value:editBaseUrl}/${ema:note:source-path}">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
        </svg>
      </a>
    </with>
  </ema:metadata>
</div>
